# Maven
target/

# Eclipse / STS4
.metadata/
.settings/
.classpath
.project
.factorypath

# Java
*.class
*.log

# macOS
.DS_Store

# Temporary files
*.tmp
*.bak
/README-NEWS-DATE-FIX.md
/README-NEWS-IMPORTER.md
